extends base.pug
include mixins/video

block content 
    form(methos="GET")
        input(placeholder="Search by title", type="text", name="keyword")
        input(type="submit", value="Search now")
    hr
    each video in videos 
        +video(video)